<ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut"
  ><ul *ngIf="auth.user$ | async as user">
    <li>{{ user.name }}</li>
    <li>{{ user.email }}</li>
  </ul>
  <br />
  <button (click)="callBackendPublic()">Call public backend</button>
  <button (click)="callBackendPrivate()">Call private backend</button>
  <button>Add role to admin user</button>
  <button (click)="addTestRoleToUser()">Add role to normal user</button>
  <button (click)="getUsers()">Get Users</button>
  <br />
  <button
    (click)="
      auth.logout({ logoutParams: { returnTo: document.location.origin } })
    "
  >
    Log out
  </button>
</ng-container>

<ng-template #loggedOut>
  <button (click)="auth.loginWithRedirect()">Log in</button>
</ng-template>
